<div style="margin-top: -95px">
    <div class="row justify-content-md-center text-center ">
        <div class="col col-auto  bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 2px gray">
            <h3>Lenguajes <i class="bi bi-terminal-fill"></i></h3>
            <ul>
                <li>Angular <img id="fotoang" class="align-content-center" src="~/imagenes/2048px-Angular_full_color_logo.svg.png" /></li>
                <li>Python <img id="fotoPy" class="align-content-center" src="~/imagenes/py.jpg" /></li>
                <li>JavaScript <img id="fotoJS" class="align-content-center" src="~/imagenes/Js.png" /></li>                
                <li>C#(.NET Framework) <img id="fotoC" class="align-content-center" src="~/imagenes/c.png" /></li>
                <li>TypeScript <img id="fotoTs" class="align-content-center" src="~/imagenes/typescript.png" /></li>
                <li>HTML <img id="fotoHTML" class="align-content-center" src="~/imagenes/html.png" /></li>
               

            </ul>
        </div>
        <div class="col col-auto  bg-white habilidades" style=" box-shadow: 0 5px 5px 2px gray">
            <h3>Herramientas/Librerias <i class="bi bi-terminal-fill"></i></h3>
            <ul>
               
                <li>Bootstrap <img id="fotoBs" class="align-content-center" src="~/imagenes/bst.jpg" /></li>
                <li>Git y GitHub <img id="fotoGit" class="align-content-center" src="~/imagenes/git githb.png" /></li>                
                <li>CSS <img id="fotocss" class="align-content-center" src="~/imagenes/css.png" /></li>
                <li>SQLServer <img id="fotoSQL" class="align-content-center" src="~/imagenes/microsoft.png" /></li>
                <li>Node.js <img id="fotonode" class="align-content-center" src="~/imagenes/node2.png.jpg" /></li>
                <li>Linux / Bash<img id="fotolin" class="align-content-center" src="~/imagenes/linux.png" /></li>

            </ul>
        </div>
    </div>
</div>