@{
    
    DateTime hoy = DateTime.Now;
    int tiempo = 4;
}

<div class="text-center">
    <h1 class="display-4 " id="titulo">Soy Tomás Agustín Marro  </h1>
    

    <h2>Soy un Estudiante avanzado de Ing. en sistemas de informacion</h2>
    <img id="fotoMia" src="~/imagenes/foto.png" alt="Foto de Tomás no disponible" style="" />
</div>

<div class="text-center">
    <img id="imagen-donet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
    <p></p>
</div>


<div class="row justify-content-center text-center bg-secondary">
    <div class="col col-mx-7  seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Actualmente vivo en Córdoba capital, Argentina. Me encuentro capacitando y aprendiendo programación como el desarrollo
            web , desarrollo de aplicaciones. También en el análisis y diseño de producto
            de software (Como estudiante de Ingeniería en sistemas de información),
            como una salida a futuro, como un reto para mi desarrollo personal y profesional
        </p>

        <h2 style="margin-bottom: -45px">Skills</h2>
    </div>
</div>